<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="axel.jpg" alt="Axel" style="width:100px;height:200px;"> 
        <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>
        
          <ul>
            <li><a  href="https://gfaline.github.io/">Work Experience</a></li>
          </ul>   
        
          <ul>
            <li><a  href="https://gfaline.github.io/cosplay">Cosplay</a></li>
          </ul>      
        
          <ul>
            <li><a  href="https://gfaline.github.io/photo">Photography</a></li>
          </ul>        


        {% if site.github.is_user_page %}
          <ul>
            <li><a class="buttons github" href="{{ site.github.owner_url }}">GitHub Profile</a></li>
          </ul>
        {% endif %}
      </header>

      <section>
        {{ content }}
      </section>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
